.about {
	background: url(/img/aboutBg.jpg) center center;
	background-size: cover;
	padding: 15px;
	margin-top: 15px;
	width: 100%;
	&-wrapper {
		padding: 0;
	}
	&__title {
		font-family: $fontRoboto;
		color: #fff;
		font-weight: 500;
		font-size: rem(16px);
		margin: 17px 0 24px 0;
		max-width: 250px;
		@include sm(font-size, rem(26px));
		@include md(font-size, rem(27px));
		@include md(margin, 25px 0 30px 0);
		@include md(max-width, 450px);
		@include lg(max-width, 700px);
		@include lg(font-size, rem(48px));
		@include xl(font-size, rem(60px));
		@include xl(line-height, 70px);
		@media screen and (min-width: 360px) {
    		font-size: rem(18px);
    	}
    	@media screen and (min-width: 425px) {
    		font-size: rem(21px);
    	}
    	@media screen and (min-width: 500px) {
    		font-size: rem(24px);
    		max-width: 350px;
    	}
	}
	&__desc {
		font-family: $fontPoppins;
		font-weight: bold;
		font-size: rem(10px);
		color: #fff;
		max-width: 150px;
		margin-bottom: 33px;
		@include sm(font-size, rem(18px));
		@include sm(max-width, 270px);
		@include md(max-width, 350px);
		@include md(line-height, 27px);
		@include lg(line-height, 33px);
		@include md(margin-bottom, 95px);
		@include lg(font-size, rem(22px));
		@include xl(font-size, rem(26px));
		@include xl(max-width, 600px);
		@include lg(max-width, 500px);
    	@media screen and (min-width: 360px) {
    		max-width: 180px;
    	}
		@media screen and (min-width: 425px) {
    		font-size: rem(13px);
    		max-width: 200px;
    	}
    	@media screen and (min-width: 500px) {
    		font-size: rem(16px);
    		max-width: 240px;
    	}
	}
	&__button {
		@include buttonStyles;
		padding: 10px 35px;
		display: flex;
		justify-content: center;
		margin: 0 auto;
		margin-bottom: 18px;
		@include md(margin, 0 0 75px 0);
		@include md(padding, 10px 40px);
		@include lg(padding, 13px 40px);
		@include lg(font-size, rem(16px));
	}
}